/* ==========================================container */
.content main .files-section .container {
  margin-top: 55px;
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .content main .files-section .container {
    flex-direction: column;
    gap: 10px;
  }
}

/* ==========================================files section */
.content main .files-section .container .files-section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 767px) {
  .content main .files-section .container .files-section {
    order: 2;
    gap: 10px;
  }
}

/* boxs */
.content main .files-section .container .files-section .boxs {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.content main .files-section .container .files-section .boxs:hover .main img {
  transform: rotate(5deg);
}


.content main .files-section .container .files-section .boxs .main {
  position: relative;
  text-align: center;
}

.content main .files-section .container .files-section .boxs .main i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  cursor: pointer;
  color: var(--grey-clr);
}

.content main .files-section .container .files-section .boxs .main img {
  width: 64px;
  height: 64px;
  margin-top: 20px;
  transition: var(--main-transition);
}

.content main .files-section .container .files-section .boxs .main h3 {
  margin: 20px 0;
  font-size: 16px;
}

.content main .files-section .container .files-section .boxs .main p {
  width: fit-content;
  font-size: 14px;
  color: var(--grey-clr);
}


.content main .files-section .container .files-section .boxs .foot {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--boxs-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content main .files-section .container .files-section .boxs .foot span {
  font-size: 13px;
  color: var(--grey-clr);
}

/* ==========================================files statistics */
.content main .files-section .container .files-statistics {
  min-width: 260px;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.content main .files-section .container .files-statistics h3 {
  font-size: 25px;
  margin-bottom: 20px;
}


.content main .files-section .container .files-statistics ul li {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--boxs-clr);
  border-radius: 6px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content main .files-section .container .files-statistics ul li i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--st-iclr);
  background-color: var(--st-bg-iclr);
}

.content main .files-section .container .files-statistics ul li .info {
  flex: 1;
}

.content main .files-section .container .files-statistics ul li .info h4 {
  margin-bottom: 5px;
  font-weight: normal;
}

.content main .files-section .container .files-statistics ul li .info p {
  color: var(--grey-clr);
}

.content main .files-section .container .files-statistics ul li span {
  color: var(--grey-clr);
}


.content main .files-section .container .files-statistics a {
  width: fit-content;
  padding: 10px 15px;
  margin: auto;
  color: white;
  font-size: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--blue-clr);
  transition: var(--main-transition);
}

.content main .files-section .container .files-statistics a:hover {
  background-color: var(--blue-alt-clr);
}

.content main .files-section .container .files-statistics a:hover i {
  animation: up-down .8s infinite;
}

@media (max-width: 767px) {
  .content main .files-section .container .files-statistics {
    order: 1;
  }

  .content main .files-section .container .files-statistics h3 {
    text-align: center;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

/* end content */